@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto !important;
}

.w-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.bg-gif {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    ),
    url("./assets/image2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.three-d-effect {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bg-img {
  background-image: url("./assets/bg123.png");
  background-size: cover;
  background-position: top center;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-img-2 {
  background-image: url("./assets/bg123.png");
  /* background-image: url("https://www.careem.com/images/background-with-sides-clipped.png"); */
  background-size: cover;
  background-position: top center;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-blogs {
  /* background-image: url("https://www.careem.com/images/bg-cliped-our-blog.png"); */
  background-image: url("./assets/bg-11.png");
  background-size: cover;
  background-position: top center;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-stats-count {
  background-image: url("./assets/bg-11.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .bg-stats-count {
  background-image: url("./assets/yellow_gradient_variant_1.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} */
